
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(205, 236, 237);
    text-align: center;
}
.container{
    height:70vh;
    
    display:flex;
   
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
border-radius: 1rem;
box-shadow: 0 0 1rem rgba(0,0,0,0.1);
font-size: 10vmin;
background-color: rgb(203, 198, 44);
color: black;
}
.reset-btn{
    padding: 1rem;
    font-size:1rem;
    background-color: black;
    color: white;
    border:none;

}
#new-btn{
    padding: 1rem;
    font-size:1rem;
    background-color: black;
    color: white;
    border:none;
}
#msg
{
    color: blue;
    font-size: 8vmin;
}
.msg-c{
    height: 40vmin;
}
.hide{
    display: none;
}